.header-logo {
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}

.header-logo a {
  color: #6938ef;
  width: 50%;
  /* margin-left: -10px; */
}

.nav-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  margin: 30px 0 30px 0;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-logo {
  padding: 0 30px 0 10px;
}

.menu-li {
  justify-content: space-between;
  width: 60%;
}

.menu-li ul {
  list-style: none;
  display: flex;
}

.menu-li ul li a {
  color: #6938ef;
  font-weight: 700;
  width: 120px;
  padding: 20px;
}

.menu-li ul li a:hover {
  cursor: pointer;
  color: black;
  transition: all 200ms ease-in-out;
}

.bag-user-icon {
  display: flex;
}

.bag-user-icon .cart-items-count {
  padding: 5px;
  background: var(--primary-color);
  border-radius: 17px;
  font-size: 14px;
  position: absolute;
  right: -10px;
  bottom: 0;
  color: white;
}

.nav-right {
  justify-content: space-evenly;
  display: flex;
  padding: 5px;
}

.nav-right ul li {
  display: flex;
}

.nav-right input {
  background-color: white;
  padding: 10px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 10%);
  border: 1px solid rgb(238 158 171 / 50%);
}

.search-input {
  padding: 5px;
}

.search-input input {
  width: 80%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 10%);
  border: 1px solid rgb(238 158 171 / 50%);
}

.header-logo img {
  max-width: 50px;
  height: auto;
  vertical-align: bottom;
  transition: 0.5s;
  border: none;
  outline: none;
}

.nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  display: flex;
}

.nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 10px;
  position: relative;
  user-select: none;
}

.nav .menu-icon [data-role="close"],
.nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: #333 0.2s ease-out;
  width: 18px;
}

.nav .menu-icon [data-role="close"]::before,
.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.nav .menu-icon .navicon:before {
  top: 5px;
}

.nav .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.nav .menu-icon [data-role="close"] {
  display: none;
}

.nav[state="opened"] .menu {
  max-height: 240px;
}

.nav[state="opened"].menu-icon .navicon {
  background: transparent;
}

.nav[state="opened"] .menu-icon .navicon[data-role="open"] {
  display: none;
}

.nav[state="opened"] .menu-icon [data-role="close"] {
  display: block;
}

.profile-dropdown {
  visibility: hidden;
  position: absolute;
  display: grid;
  background-color: white;
  color: black;
  min-width: 150px;
  transform: translate(-50%, 70%);
  border: 1px solid #eee;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
  padding: 5px;
  z-index: 99999;
  transition: all 0.2s ease;
}

.user-icon img {
  cursor: pointer;
}

.user-icon:focus-within .profile-dropdown {
  opacity: 1;
  visibility: visible;
}

.profile-dropdown ul {
  display: grid;
}

.profile-dropdown ul li {
  color: black;
  padding: 10px;
  justify-content: center;
}

.profile-dropdown ul li:hover {
  background-color: #6938ef;
  border-radius: 1rem;
  cursor: pointer;
}

.profile-dropdown ul li a {
  color: black;
}

.profile-dropdown ul li:hover a {
  cursor: pointer;
  color: white;
}

/* small phone */
@media only screen and (max-width: 375px) {
  .nav-right input {
    display: none;
  }
}

/* phone screens*/

@media only screen and (max-width: 480px) {
  .header-logo {
    /* padding-left: 0; */
    justify-content: space-evenly;
  }
  .nav-container {
    margin: 0 0 20px 0;
    border-radius: 0;
    background-color: #fcf2f4;
  }
  .nav {
    display: inline;
  }

  .nav ul {
    overflow: hidden;
  }

  .nav-left {
    display: inline;
  }

  .menu-li {
    padding-right: 0px;
    width: 100%;
  }

  .menu-li ul {
    flex-direction: column;
    padding-top: 5px;
  }

  .menu-li ul li {
    padding: 10px;
    border-bottom: 1px dashed rgb(238 158 171 / 50%);
    width: 100%;
  }

  .menu-li ul li a {
    padding: 0px;
  }

  .nav-right ul li {
    padding: 2px;
    text-align: center;
  }

  .nav-right input {
    display: none;
  }
  .bag-user-icon .cart-items-count {
    font-size: 10px;
    right: -5px;
  }
}

/* tablets */

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .header-logo {
    padding-left: 0;
    justify-content: space-evenly;
  }

  .nav-container {
    margin: 0 0 20px 0;
    border-radius: 0;
    background-color: #fcf2f4;
  }
  .nav {
    display: inline;
  }

  .nav ul {
    overflow: hidden;
  }

  .nav-left {
    display: inline;
  }

  .menu-li {
    padding-right: 0px;
    width: 100%;
  }

  .menu-li ul {
    flex-direction: column;
    padding-top: 5px;
  }

  .menu-li ul li {
    padding: 10px;
    border-bottom: 1px dashed rgb(238 158 171 / 50%);
    width: 100%;
  }

  .menu-li ul li a {
    padding: 0px;
    font-size: 17px;
  }

  .nav-right ul li {
    padding: 2px;
    text-align: center;
  }

  .nav-right input {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .nav .menu-icon {
    display: none;
  }

  .nav-right input {
    width: 140px;
  }

  .search-input {
    display: none;
  }

  .menu-li ul li a {
    padding: 10px;
  }
}

@media only screen and (min-width: 901px) {
  .nav .menu {
    width: max-content;
  }
  .nav li {
    float: left;
  }
  .nav li a {
    /* padding: 20px 20px; */
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
    width: max-content;
    float: left;
    padding-left: 10px;
  }
  .nav .menu-icon {
    display: none;
  }

  .header-logo a {
    margin-left: unset;
  }

  .menu-li {
    justify-content: space-between;
    width: 100%;
  }

  .menu-li ul li a {
    font-size: 20px;
  }

  .nav-right input {
    width: 200px;
  }

  .nav .menu-icon {
    display: none;
  }

  .search-input {
    display: none;
  }
}
