.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20px;
}

.header-logo a {
  font-family: "Poppins", sans-serif;
  color: #6938ef;
  width: 50%;
  margin-left: -10px;
  font-size: unset;
}

.nav-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-logo {
  padding: 0 30px 0 10px;
}

.menu-li {
  justify-content: space-between;
  width: 60%;
}

.menu-li ul {
  list-style: none;
  display: flex;
}

.menu-li ul li a {
  color: #6938ef;
  font-weight: 500;
  width: 120px;
  text-transform: uppercase;
  padding-right: 20px;
}

.menu-li ul li a:hover {
  cursor: pointer;
  color: black;
  transition: all 200ms ease-in-out;
}

.nav-right {
  justify-content: space-evenly;
  display: flex;
}

.nav-right input {
  background-color: #ececec;
  padding: 10px;
}

.header-logo img {
  max-width: 50px;
  height: auto;
  vertical-align: bottom;
  transition: 0.5s;
  border: none;
  outline: none;
}

.nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  display: flex;
}

.nav .menu .icons {
}

.nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 0px;
  position: relative;
  user-select: none;
}

.nav .menu-icon [data-role="close"],
.nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: #333 0.2s ease-out;
  width: 18px;
}

.nav .menu-icon [data-role="close"]::before,
.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.nav .menu-icon .navicon:before {
  top: 5px;
}

.nav .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.nav .menu-icon [data-role="close"] {
  display: none;
}

.nav[state="opened"] .menu {
  max-height: 240px;
}

.nav[state="opened"].menu-icon .navicon {
  background: transparent;
}

.nav[state="opened"] .menu-icon .navicon[data-role="open"] {
  display: none;
}

.nav[state="opened"] .menu-icon [data-role="close"] {
  display: block;
}

.profile-dropdown {
  visibility: hidden;
  position: absolute;
  display: grid;
  background-color: white;
  color: black;
  min-width: 150px;
  transform: translate(-50%, -10%);
  border: 1px solid #eee;
  border-radius: 1rem;
  box-shadow: 5px 25px 51px 0px rgb(0 0 0 / 20%);
  padding: 5px;
  z-index: 99999;
  transition: all 0.1s ease;
}

.user-icon img {
  cursor: pointer;
}

.profile-dropdown.active {
  opacity: 1;
  visibility: visible;
}

.profile-dropdown ul {
  display: grid;
}

.profile-dropdown ul li {
  color: black;
  padding: 10px;
}

.profile-dropdown ul li:hover {
  background-color: #6938ef;
  border-radius: 1rem;
  cursor: pointer;
}

.profile-dropdown ul li a {
  color: black;
}

.profile-dropdown ul li a:hover {
  cursor: pointer;
  color: white;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .nav .menu {
    width: max-content;
  }
  .nav li {
    float: left;
  }
  .nav li a {
    /* padding: 20px 20px; */
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
    width: max-content;
    float: left;
    padding-left: 10px;
  }
  .nav .menu-icon {
    display: none;
  }
}

/* phone screens*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header-logo {
    padding-left: 0px;
  }
  .nav-container {
    margin: 0;
    border-radius: 0;
    background-color: #fcf2f4;
  }
  .nav {
    display: inline;
  }

  .nav ul {
    overflow: hidden;
  }

  .nav-left {
    display: inline;
  }

  .bag-user-icon {
    display: flex;
  }

  .menu-li {
    padding-right: 0px;
    width: 100%;
  }

  .menu-li ul {
    flex-direction: column;
    padding-top: 5px;
  }

  .menu-li ul li {
    padding: 10px;
    border: #ececec solid 1px;
    width: 100%;
  }

  .menu-li ul li a {
    padding: 0px;
  }

  .nav-right ul li {
    padding: 2px;
    text-align: center;
  }
}

/* tablets */

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .menu-li {
    justify-content: space-between;
    width: 100%;
  }
}
