.main-topic-container{
    width: 70vw;
    margin: auto ; 
    margin-top: 1vh; 
    text-align:left;
    font-family: Gupter;
    font-size: 0.8rem;
    min-height: 85vh;
    margin-top: 3%;
    
}

.create-thread-topic{
    box-shadow: 0px 6px 4px #EE9EAB;
}

.thread-container{
    width: 70vw;
    margin: auto ; 
    margin-top: 1vh; 
    text-align:left;
    font-family: Gupter;
    font-size: 0.8rem;
}

.replies-thread{
    background: rgba(199, 184, 248, 0.31);
    border: 1px solid #EE9EAB;;
    padding: 1vw;
    border-radius: unset;
}