.main-topic-container {
  /* width: 70vw; */
  margin: auto;
  margin-top: 1vh;
  text-align: left;
  font-family: Gupter;
  font-size: 0.8rem;
  min-height: 85vh;
  margin-top: 3%;
  padding: 10px;
}

.create-thread-topic {
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
}

.community-banner-img {
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
}

.community-banner {
  padding-bottom: 5%;
}

.main-container-thread-topic {
  padding-bottom: 3%;
}

.thread-container {
  /* width: 70vw; */
  margin: auto;
  margin-top: 1vh;
  text-align: left;
  font-family: Gupter;
  font-size: 0.8rem;
}

.topic-title-thread {
  padding-bottom: 10px;
}

.title-thread {
  padding: 20px 0 10px 0;
}

.topic-thread-container {
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
}

.topic-thread-container:not(:last-of-type) {
  margin-bottom: 50px;
}

.replies-thread-item {
  background: white;
  border: 1px dashed rgb(238 158 171 / 50%);
  padding: 1.1vw;
  border-radius: unset;
}

.thread-item-user {
  display: flex;
  justify-content: space-between;
  color: #383838;
  letter-spacing: 0.5px;
  font-size: 18px;
}

.community-load-more-container {
  /* position: absolute; */
  padding-bottom: 100px;
}

.community-load-more {
  float: right;
  color: white;
  background-color: var(--primary-color);
  border: none;
}

.User-threads {
  padding-bottom: 15px;
}

.contain-community-post {
  word-break: break-all;
  font-size: 17px;
  font-family: "Chivo", sans-serif;
}

.contain-topic-thread {
  word-break: break-all;
  font-size: 17px;
  font-family: "Chivo", sans-serif;
}

.contain-topic-thread span {
  padding-top: 30px;
}

/* phone screens */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main-topic-container,
  .thread-container {
    width: unset;
    font-size: 1rem;
  }
  .main-topic-container {
    padding: 5vw;
    margin-bottom: 10vh;
  }
  .main-topic-container .add-message-form input {
    width: 100%;
    display: block;
  }

  .main-topic-container .add-message-form button {
    text-align: center;
    width: 100%;
    display: block;
    color: white;
    background: var(--primary-color);
    border-radius: unset;
    margin: 0;
    font-weight: 900;
  }
  .community-load-more {
    margin-top: 2vh;
    width: 100%;
    clear: both;
    border-radius: 0;
  }

  .thread-item-user {
    font-size: 1rem;
    display: grid;
  }

  .contain-topic-thread {
    font-size: 15px;
  }

  .contain-community-post {
    font-size: 15px;
  }
}

/* tablets */

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .community-load-more {
    margin-top: 0.6vh;
  }

  .thread-item-user {
    font-size: 1rem;
  }

  .contain-topic-thread {
    font-size: 18px;
  }
}
