.company-info {
  padding-bottom: 3rem;
}

.company-info h1 {
  padding-bottom: 1rem;
}

.team-info {
  padding: 2vw;
  background-color: rgb(238 158 171 / 30%);
}

.team-info ul li {
  padding-bottom: 1vw;
}
.team-container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-card {
  padding: 2rem;
}

.img-wrapper {
  position: relative;
  margin: 20px;
  width: 250px;
  background-color: rgb(238 158 171 / 50%);
  border-radius: 50%;
}

.img-wrapper:before {
  position: absolute;
  content: "";
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border: 10px dashed rgb(238 158 171 / 50%);
  top: -13px;
  left: -13px;
  border-radius: inherit;
  animation: spin 80s linear infinite;
}

.img-wrapper img {
  padding: 5px;
  width: 250px;
  border-radius: 50%;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.header-team .v1-child {
  position: relative;
  width: 40px;
  left: 100px;
  top: 10px;
}

/* phone */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .team-card {
    padding: unset;
  }
}
