.category-title2 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 25px 10px 25px;
  letter-spacing: 0.5px;
  background: #6938ef;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 520px;
}

.slideshow-container {
  position: relative;
  margin: auto;
  height: 320px;
}

.top img {
  height: 100%;
  margin-top: -50px;
  padding-left: 100px;
}

.top-product {
  height: 450px;
  padding-top: 30px;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.top-product .card-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 30px;
}

.top-product .card-item img {
  height: 150px;
  padding: 10px;
}

.top-product .card-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.more-products {
  padding-top: 50px;
}

.more-products button {
  width: 200px;
  border-radius: 1rem;
  border-width: 1px;
  padding: 0.5rem;
  background-color: #6938ef;
  color: white;
  border-color: #6938ef;
}

.info {
  display: flex;
  background-color: white;
}

.info img {
  height: 500px;
}

.info .about-us {
  padding: 200px 0 0 50px;
  width: 600px;
}

.join-us {
  display: flex;
  justify-content: center;
  padding: 70px;
}

.join-us-info {
  width: 70%;
  padding-right: 50px;
}

.join-us ul {
  list-style: none;
  display: flex;
}

.join-us ul li {
  color: #6938ef;
  padding-right: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .cards {
    flex-direction: column;
  }

  .top-product {
    height: 100%;
    padding-top: 30px;
  }

  .top-product .cards {
    padding: 10px;
    align-items: center;
  }

  .top-product .cards .card-item {
    padding: 0;
    width: 80%;
  }
}
