.category-title2 {
  color: #fff;
  font-weight: bold;
  padding: 12px 25px 10px 25px;
  letter-spacing: 0.5px;
  background: #6938ef;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0 30px 0;
  /* height: 520px; */
}

.top .v1 {
  position: absolute;
  width: 100px;
  left: 150px;
  opacity: 0.5;
  transform: matrix(-1, -1, -1, 1, 10, 100);
}

.top .v2 {
  position: fixed;
  width: 100px;
  right: 0%;
  z-index: 1;
}

.top .v6 {
  position: absolute;
}

.top .v6-child {
  position: relative;
  width: 60px;
  right: 750px;
  top: 200px;
}

.top-product .v3 {
  position: relative;
  width: 50px;
  left: -250px;
  bottom: -10px;
}

.all-product .v4 {
  position: absolute;
}

.all-product .v4-child {
  position: relative;
  width: 110px;
  right: 100px;
  top: 1250px;
}

.all-product .v5 {
  position: absolute;
}

.all-product .v5-child {
  position: relative;
  width: 60px;
  left: 1240px;
  bottom: 1350px;
}

.slideshow-container {
  width: 70%;
  /* position: relative;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 36%; */
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 3rem;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
}

/*Area of images*/
.mySlides {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

/*Animation activated by keyframes*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.top img {
  width: 100%;
}

.top-product {
  padding-bottom: 50px;
  border-bottom: 4px dashed rgb(238 158 171 / 50%);
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px 0;
}

.cards a {
  padding: 0px 5px;
}

.card-info {
  padding: 20px 0 20px 0;
}

.card-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-product .card-item {
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
  transition: 0.3s;
  width: 300px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 30px;
}

.card-item-img img {
  height: 180px;
  max-width: 100%;
  /* padding: 10px; */
}

.card-item-img:hover {
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
}

.more-products {
  padding: 40px;
}

.more-products button {
  width: 200px;
  border-radius: 1rem;
  border-width: 1px;
  padding: 0.5rem;
  background-color: #6938ef;
  color: white;
  border-color: #6938ef;
}

.info {
  display: flex;
  background-color: white;
  border-top: 4px dashed rgb(238 158 171 / 50%);
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 70%;
}

.info img {
  height: 500px;
}

.info .about-us {
  width: 600px;
  align-self: center;
}

.join-us-container {
  position: absolute;
  max-width: 1400px;
}

.join-us-container img {
  width: 100%;
}

.join-us {
  display: flex;
  justify-content: center;
  padding: 70px;
  align-items: center;
  height: 200px;
}

.join-us-info {
  width: 70%;
  padding-right: 50px;
}

.join-us ul {
  list-style: none;
  display: flex;
}

.join-us ul li {
  color: #6938ef;
  padding: 10px;
}

.card-footer {
  padding: 20px 0 20px;
  border-top: 1px solid #ddd;
}

.card-footer .wcf-left {
  float: left;
}

.card-footer .wcf-right {
  float: right;
  margin-top: -6px;
}

.my-font h1 {
  font-family: "Habibi", sans-serif;
  font-size: 56px;
  font-weight: 400;
}

.my-font h2 {
  font-family: "Habibi", sans-serif;
  font-size: 44px;
  font-weight: 400;
}

.my-font h3 {
  font-family: "Habibi", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.my-font h4 {
  font-family: "Habibi", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.my-font h5 {
  font-family: "Habibi", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #6938ef;
}

.my-font h6 {
  font-family: "Poppins", sans-serif;
  color: #6938ef;
  font-size: 14px;
  font-weight: 500;
}

.my-font p {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 15px;
  font-weight: 400;
}

.my-font a {
  font-family: "Habibi", sans-serif;
  color: #333;
  font-size: 17px;
  font-weight: 400;
}

.my-font a:hover {
  color: #6938ef;
}

.wcf-right img:hover {
  cursor: pointer;
}

/* phone screens*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .top {
    /* height: 100px; */
    /* display: table-cell; */
    padding: 30px 0 45px 0;
  }

  .slideshow-container {
    width: 85%;
    /* position: relative; */
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
  }

  /*Area of images*/
  .mySlides {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
  }

  .top-product .cards {
    padding: 10px;
    align-items: center;
    overflow-x: auto;
    justify-content: space-between;
  }

  .top-product .cards .card-item {
    padding: 20px;
    width: 60vw;
  }

  .card-item-img img {
    width: auto;
  }

  .card-info {
    height: 60px;
  }

  .info {
    border: 2px dashed #6938ef;
    border-radius: 3rem;
    background-color: #6938ef2a;
  }

  .info .about-us {
    padding: 20px;
  }

  .join-us {
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: unset;
  }

  .join-us ul {
    display: flex;
    justify-content: space-evenly;
  }

  .join-us-info {
    width: 100%;
    padding: 20px;
  }

  .my-font h2 {
    /* text-align: initial; */
    padding: 5px 15px;
    font-size: 28px;
    font-weight: 400;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .top-product .cards {
    padding: 10px;
    align-items: center;
    overflow-x: auto;
    justify-content: space-between;
  }

  .join-us-container img {
    width: 100%;
  }

  .resources {
    padding: 30px 0 30px 0;
  }
}
