.flow-bar {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  align-self: start;
}

.title-page {
  margin-left: 150px;
  align-self: start;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

/* .product-list {
  display: flex;
  margin-left: 150px;
  margin-right: 300px;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
} */

.cat {
  width: 250px;
  height: 250px;
  margin: 10px;
}

.checkbox {
  width: 30px;
  height: 30px;
  align-self: center;
  margin: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
}

.product-name {
  font-weight: bold;
}

.subtract {
  background-color: var(white);
  border: 0.5px solid;
  border-color: black;
  border-radius: 6px;
  height: 33px;
  width: 50px;
  align-self: center;
  font-size: 20px;
}

.add {
  background-color: var(white);
  border: 0.5px solid;
  border-color: black;
  border-radius: 6px;
  height: 33px;
  width: 50px;
  align-self: center;
  font-size: 20px;
}

.number-rectangle {
  background-color: var(white);
  border: 0.5px solid;
  border-color: black;
  border-radius: 6px;
  height: 33px;
  width: 50px;
  align-self: center;
  font-size: 20px;
}

.price {
  align-self: center;
  font-weight: bold;
}

.first {
  display: flex;
  justify-content: space-between;
}

.delete {
  font-size: 20px;
  width: 30px;
  height: 30px;
  align-self: center;
  margin-left: 80px;
}

.line-3 {
  height: 1px;
  /* object-fit: cover; */
  width: 1552px;
}

hr {
  width: 100%;
}

.checkout {
  display: flex;
  margin-left: 150px;
  margin-right: 300px;
  flex-direction: row;

  justify-content: space-between;
}

.second {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
