.main-container {
  text-align: center;
  justify-content: center;
  margin-bottom: 10vh;
  padding: 20px;
}

.cart-detail {
  padding: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-image {
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
  border-radius: 0.5rem;
}

.product-info {
  text-align: initial;
  padding: 30px;
}

div.product-info a {
  font-size: unset;
}

.cart-detail .cart-info {
  display: flex;
  align-items: center;
  width: 600px;
}

.checkbox {
  width: 40px;
  height: 40px;
}

.qty-counter {
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qty-counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: #6938ef;
  appearance: none;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
  margin-right: -5px;
}
.qty-counter span {
  display: block;
  font-size: 25px;
  padding: 0 20px;
  cursor: pointer;
  color: #6938ef;
  user-select: none;
}

.cart-detail .final-price {
  width: 100%;
  text-align: end;
}

.subtotal {
  padding: 30px 10px 120px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-input {
  display: flex;
  align-items: center;
}

.remove-item {
  padding: 50px;
}

/* small phone */
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .cart-detail {
    padding: 60px 0 30px 0;
    display: unset;
    align-items: center;
  }
}

/* phone */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .product-image {
    width: 100px;
    height: 100px;
  }

  .cart-info .product-info {
    width: 300px;
  }

  .cart-detail {
    display: unset;
    align-items: center;
  }

  .cart-detail .cart-info {
    width: 100%;
    justify-content: center;
  }

  .remove-item {
    padding: 10px;
  }

  .qty-counter input {
    width: 40px;
    line-height: 17px;
    font-size: 15px;
  }

  .product-input {
    padding: 10px;
  }
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  text-align: initial;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #6938ef;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* tablet */
@media only screen and (min-width: 481px) and (max-width: 1200px) {
  .remove-item {
    padding: 20px;
  }

  .product-image {
    width: 120px;
    height: 120px;
  }

  .product-info {
    padding-left: 20px;
  }

  .cart-detail {
    padding: unset;
  }

  .cart-detail .cart-info {
    padding: 20px;
  }

  .qty-counter input {
    width: 40px;
    line-height: 17px;
    font-size: 15px;
  }

  .cart-detail .cart-info {
    width: 380px;
  }
}
