.main-container {
  display: flex;
  flex-direction: column;
  /* margin-left: 150px; */
}

.all-orders-container {
  width: 70vw;
  margin: auto;
}

.all-orders-container .cart-detail {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  padding: 20px;
  border: 1px solid black;
}

.all-orders-container .product-image {
  width: 150px;
  height: 150px;
}

.cart-detail .cart-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 600px;
}

.cart-detail .cart-info span {
  margin-right: 10px;
}

.all-orders-container .qty-counter {
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-orders-container .qty-counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: #6938ef;
  appearance: none;
  outline: 0;
}
.all-orders-container .qty-counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: #6938ef;
  user-select: none;
}

.all-orders-container .cart-detail .final-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 300px; */
}
.all-orders-container .remove-item,
.all-orders-container .cart-detail .final-price {
  margin: auto;
}
.all-orders-container .remove-item button {
  border-radius: 50%;
  padding: 20px;
}

.all-orders-container .subtotal {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.all-orders-container .subtotal .checkout {
  width: 150px;
  height: 70px;
}
