.top {
    margin-left: 150px;
}

.product-container {
  width: 62%;
  position: relative;
  top: 30%;
  right: 10%;
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 3rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}