.product-detail-container {
  width: auto;
  padding-top: 30px;
}

.product-detail {
  display: flex;
  padding: 60px;
  justify-content: space-evenly;
}

.product-detail img {
  height: 500px;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
  border: 4px dashed rgb(238 158 171 / 50%);
}

.product-detail .product-info {
  /* border: 4px dashed rgb(238 158 171 / 50%); */
  height: fit-content;
}
.product-detail .product-info .description {
  padding: 30px 0 10px 0;
}

.breadcrumb-container .breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

.breadcrumb-container .breadcrumb li {
  display: inline;
  font-size: 18px;
}

.breadcrumb-container .breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}

.breadcrumb-container .breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

.breadcrumb-container .breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.qty-cart {
  padding-top: 30px;
  display: flex;
}

.counter {
  /* width: 150px; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: #6938ef;
  appearance: none;
  outline: 0;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
  margin-right: -5px;
}
.counter span {
  display: block;
  font-size: 25px;
  padding: 0 20px;
  cursor: pointer;
  color: #6938ef;
  user-select: none;
}

.button-long {
  width: 200px;
  font-size: 16px;
  background-color: #6938ef;
  color: white;
  border: 0;
  padding: 0.5rem;
}

.button-long:hover {
  cursor: pointer;
}

.review-header {
  background-color: white;
  width: fit-content;
  padding: 20px;
}
.enter-your-review {
  height: 25px;
  letter-spacing: -0.22px;
  line-height: normal;
  text-align: center;
  width: 237px;
}

.review-container {
  padding: 60px 10px;
}
.review-container-v2 {
  background-color: white;
  padding: 10px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
}

.review-container-v2 .review-text-box-container {
  /* padding: 10px;
  background-color: rgba(238, 158, 171, 0.42); */
  padding: 10px;
  text-align: initial;
}

.review-container-v2 .review-text-box {
  background: rgba(199, 184, 248, 0.24);
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
  height: fit-content;
  margin-bottom: 50px;
  border-radius: 0.3rem;
  padding: 20px;
}

.review-container-v2 input {
  border-radius: 0.3rem;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.user1 span {
  font-family: "Gupter", serif;
  color: black;
  letter-spacing: 0.5px;
  font-size: 16px;
}

select.merch-paradise-theme {
  /* Reset Select */
  appearance: none;
  /* Personalize */
  flex: 1;
  padding-left: 1em;
  background-color: white;
  border: 3px dashed #6938ef;
  cursor: pointer;
  outline: 0;
  font-size: 17px;
}

select.merch-paradise-theme option {
  color: black;
  background-color: inherit;
  font-size: 17px;
}

/* Custom Select wrapper */
.review-select {
  position: relative;
  display: flex;
  width: 10em;
  height: 2em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.review-select::after {
  content: "\25BC";
  position: absolute;
  top: -10px;
  right: 0;
  padding: 1em;
  background-color: #6938ef;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.review-select:hover::after {
  color: white;
}

.menu-trigger2 {
  width: fit-content;
  border-radius: 0.3rem;
  background-color: #6938ef;
}

.menu-trigger2 span {
  color: white;
  font-weight: 600;
  padding: 15px;
}

.user1 {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
  padding-bottom: 5px;
  justify-content: space-between;
}

.r1 {
  font-size: 15px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-top: 15px;
  color: #000000;
  word-break: break-all;
}

.logo1 {
  font-family: "Gupter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;

  color: #ffffff;
}

.load-btn {
  flex-direction: row-reverse;
  display: flex;
}

/* small phone */
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .product-detail {
    display: unset;
    padding: 100px;
  }

  .product-detail img {
    height: 100px;
  }
}

/* phone */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .product-detail {
    display: unset;
    padding: 0;
  }

  .product-detail img {
    height: 300px;
  }

  select.merch-paradise-theme {
    font-size: 15px;
  }

  select.merch-paradise-theme option {
    font-size: 12px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1200px) {
  .product-detail {
    display: unset;
    padding: 0;
  }

  .counter {
    width: 150px;
    margin: auto;
  }
}
