.title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 25px 10px 25px;
  letter-spacing: 0.5px;
  background: #6938ef;
}

.top-product .card-item {
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
  transition: 0.3s;
  width: 300px;
  background-color: white;
  border-radius: 0.5rem;
}

.top-product .card-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.all-product-container {
  background-color: #fcf2f4;
  border-radius: 0.3rem;
  /* height: 800px; */
  width: auto;
  padding-top: 30px;
  display: inline-table;
}

.all-product {
  /* height: 800px; */
  background-color: white;
  /* padding: 120px 0 120px 0; */
  padding: 100px;
  border-radius: 0.3rem;
  box-sizing: content-box;
}

.all-product .products-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1vw;
  justify-items: center;
}

.all-product .products-grid a {
  /* display: block; */
  margin: auto;
  width: max-content;
}

.all-product .card-list {
  box-shadow: 0 4px 8px 0 rgb(238 158 171 / 50%);
  transition: 0.3s;
  width: 270px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 20px;
}

.all-product .card-list:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.more-products button {
  width: 200px;
  border-radius: 1rem;
  border-width: 1px;
  padding: 0.3rem;
  border-color: #6938ef;
  color: #fff;
  font-family: "Chivo", sans-serif;
  font-size: 14px;
}

/* small phone */
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .all-product {
    padding: 0px;
  }

  .all-product .card-list {
    max-width: 160px;
    height: auto;
    padding: 10px;
  }

  .card-info {
    height: 40px;
    padding: 10px 0 5px 0;
  }

  .all-product .card-footer {
    padding: 20px 0 20px;
    border-top: 1px solid #ddd;
  }

  .all-product .card-item-img img {
    max-height: 150px;
  }

  .all-product .products-grid {
    /* display: block; */
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .all-product-container {
    width: 100%;
  }
}

/* phone */
@media only screen and (min-width: 376px) and (max-width: 480px) {
  .top-product .card-item:hover {
    box-shadow: unset;
    transform: unset;
  }

  .all-product .card-list:hover {
    box-shadow: unset;
    transform: unset;
  }

  .all-product-container {
    padding: 30px 0;
    width: -webkit-fill-available;
  }
  .all-product {
    padding: 0;
  }

  .all-product .products-grid {
    /* display: block; */
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .all-product .products-grid a {
    width: 90%;
  }

  .all-product .card-item-img img {
    width: fit-content;
    /* height: auto; */
  }

  .all-product .card-footer {
    padding: 20px 0 20px;
    border-top: 1px solid #ddd;
  }

  .all-product .card-list {
    max-width: 200px;
    padding: 10px;
  }
}

/* tablet */
@media only screen and (min-width: 481px) and (max-width: 750px) {
  .all-product .products-grid {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

/* 751px - 1260px */
@media only screen and (min-width: 751px) and (max-width: 1260px) {
  .all-product .products-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
  
  .all-product {
    padding: 50px;
  }
}
