.product-detail {
  display: flex;
  padding-top: 100px;
}

.product-detail img {
  height: 500px;
}

.product-detail .product-info {
  padding: 150px 0 0 50px;
  width: 600px;
}

.qty-cart {
  padding-top: 30px;
}

.counter {
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: #6938ef;
  appearance: none;
  outline: 0;
}
.counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: #6938ef;
  user-select: none;
}

.button-long {
  width: 200px;
  font-size: 16px;
  background-color: #6938ef;
  color: white;
}

.enter-your-review {
  height: 25px;
  letter-spacing: -0.22px;
  line-height: normal;
  text-align: center;
  width: 237px;
}

input.habibi-normal-black-15px {
  font-family: "Habibi";
}

.review-container-v2 {
  background-color: white;
  padding: 10px;
}

.review-container-v2 .review-text-box-container {
  padding: 10px;
  background-color: rgba(238, 158, 171, 0.42);
}

.review-container-v2 .review-text-box {
  background: rgb(252, 184, 243);
}

.review-container-v2 div.review-text-box {
  padding: 10px;
}

.review-container-v2 input {
  border-radius: 0;
  border: 1px solid black;
  width: 100%;
}

.test {
  visibility: hidden;
  position: absolute;
  background-color: white;
}

.test.active {
  opacity: 1;
  visibility: visible;
}
