@import url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');
.top-container{
   
    display: flex;
    height: 85vh;    
    justify-content: center;   
}
.left-container{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 6%;
    height: 100%; 
    width: 50%;
}


.sub-heading{
    display: flex;
    flex-direction: column;
    letter-spacing: -0.96px;
    font-size: 250%;
    text-align: center;
    width: 600px;
    font-weight: 500;
   
}

.merchparadise{
    font-weight: 500;
    letter-spacing: -1.00px;
    font-size: 55px;

}
.right-container{
    
    width: 50%;
}

.you-want{
    font-size: 67px;
    font-weight: 565;
    letter-spacing: -0.96px;
    line-height: 80px;
    min-height: 20px;
    text-align: center;
    width: 577px;
   
}

.authentic{
    font-family: "Gupter", sans-serif;
    font-size: 10vh;
    font-weight: 500;
    letter-spacing: -0.30vh;
    text-align: center;
    padding-bottom: 2%;
}

.img-landing-page{
    height: 100%;
}

.landing-page-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(5vh);
  
}

.sign-up-btn{
    border: 1px none;
    border-radius: 6px;
    height: 64px;
    width: 194px;
    background-color: #6938EF;
    color: white;
    font-family: 'Habibi', serif;
    font-size: 1.563rem;
}

.sign-up-btn a {
    color: #FCF2F4;
}

.shopnow{
    background-color: white;
    border: 1px solid;
    border-color: #6938EF;
    border-radius: 6px;
    height: 64px;
    width: 194px;
    font-family: 'Habibi', serif;
    font-size: 1.563rem;
}

/* phone screens*/

@media only screen and (min-width: 320px) and (max-width: 480px){

    .top-container{
        flex-direction: column;
      

    }

    .right-container{
        display: none;
    }

    .you-want{
    font-size: 4vh;
    font-weight: 700px;
    letter-spacing: -0.96px;
    line-height: 10px;
    min-height: 20px;
    text-align: center;
    width: 577px;
   
    }
    .authentic{
    font-family: "Gupter", sans-serif;
    font-size:5vh;
    font-weight: 700px;
    letter-spacing: -1.30px;
    text-align: center;
    padding-bottom: 2%;
    
    }

    .sub-heading{
    display: flex;
    flex-direction: column;
    letter-spacing: -0.96px;
    font-size: 3vh;
    text-align: center;
    width: 600px;
    }

    .merchparadise{
    font-weight: 700px;
    letter-spacing: -1.00px;
    font-size: 4vh;
    }

    .left-container{
        display: flex;
        justify-content: center;
        width: 100%;
    }
} 

/* tablets */

@media only screen and (min-width: 481px) and (max-width: 768px){

    .top-container{
        flex-direction: column;
    }

    .right-container{
        display: none;

    }

    .left-container{
        display: flex;
        justify-content: center;
        width: 100%;
       
    }
}

/* smaller desktop screen */

