@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500&display=swap');

.App {
  text-align: center;
  background-color: #fcf2f4;
  /* display: flex; */
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  
  background: #FCF2F4;
  font-family: "Gupter", sans-serif;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1400px;
  font-size: 1rem;
  width: 100%;
  margin: auto;
}

nav {
  /* background-color: white; */
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  align-items: center;
}

a {
  text-decoration: none;
  padding: 5px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.menu-li ul {
  list-style: none;
  display: flex;
}

.menu-li ul li {
  color: #6938ef;
  font-weight: bold;
  width: 120px;
  text-transform: uppercase;
}

.menu-li ul li:hover {
  cursor: pointer;
  color: black;
  transition: all 300ms ease-in-out;
}

.nav-right {
  width: 1000px;
  display: flex;
  justify-content: end;
}

.nav-right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-right ul li {
  color: #6938ef;
  padding-left: 10px;
}

input {
  font-size: 12px;
  padding: 0.5rem;
  border-radius: 1rem;
  border-width: 1px;
  border-color: #6938ef;
  background-color: white;
  outline: none;
  width: 200px;
}

.nav-right button {
  width: 100px;
  border-radius: 0.2rem;
  border-width: 1px;
  padding: 0.5rem;
}

.button-secondary {
  background-color: white;
  color: #6938ef;
  border-color: #6938ef;
}

.button-primary {
  background-color: #6938ef;
  color: white;
  border-color: #6938ef;
}

.nav-left img {
  max-width: 50px;
  height: auto;
  vertical-align: bottom;
  transition: 0.5s;
  border: none;
  outline: none;
}

.join-us {
  display: flex;
  height: 150px;
  justify-content: space-evenly;
  /* padding-top: 50px; */
  align-items: center;
}

.join-us-info {
  width: 500px;
}

.join-us button {
  width: 100px;
  border-radius: 0.2rem;
  border-width: 1px;
  padding: 0.5rem;
}

.resources {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.module {
  display: flex;
}

.resources ul {
  list-style: none;
}

.resources a {
  text-decoration: none;
  float: left;
}

.social {
  display: flex;
  justify-content: space-between;
}

hr {
  width: 100%;
  /* text-align: center; */
  /* margin-left: 0; */
}

.social p {
  align-self: center;
}
.social .social-footer-icons {
  display: flex;
}

.social .social-footer-icons ul {
  list-style: none;
  display: flex;
}

.social .social-footer-icons ul li {
  padding: 10px;
}